@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.active {
  background-color: rgb(6 182 212);
  border-radius: 5px;
  color: black;
}
