@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.active {
  background-color: #00a9ec;
  border-radius: 5px;
  color: black;
}
